body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
}

#canvas-container {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;

  }

.content {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-section {
    width: 60%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 20px;
    padding: 20px;
    overflow-y: scroll;
    height: 70%;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Existing styles... */

#splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2; /* Ensure it's above other elements */
}

#play-button {
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #a5d6a7;
    color: white;
}
